*~
__pycache__
*.aux
*.bcf
*.cpg
*.bbl
*.blg
*.dbf
*.dbf.xml
*.doc
*.docx
*.gif
*.gz
*.htm
*.html
*.lof
*.knit.md
*.log
*.lot
*.nav
*.out
*.run
*.png
*.prj
*.pyc
*.sbn
*.sbx
*.shp
*.shp.xml
*.shx
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.utf8.md
*.zip
Rplots.tex
js
tmp-pdfcrop-*.tex
.DS_Store
.Rhistory
.Rproj.user
.RData
